# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Logs
*.log

# Environment variables
.env

# macOS
.DS_Store

# Temporary files
*.tmp