smbus-cffi
RPi.GPIO
scipy
aiohappyeyeballs
aiohttp
aiosignal
attrs
certifi
charset-normalizer
crcmod
defusedxml
frozenlist
idna
multidict
munch
numpy
paho-mqtt
propcache
pyserial
python-dateutil
python-periphery
python-plugwise
requests
schedule
six
typing_extensions
urllib3
yarl